.stepWrap {
    display: flex;
    align-items: flex-start;
}

.steps {
    text-align: center;
    position: relative;
    width: 20%;
}

.horizontalBar {
    position: absolute;
    width: 100%;
    top: 38px;
    z-index: -1;
    height: 3px;
}