.accountHeader {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 21px;
    color: #000;
    background-color: #C5DCFA;
    text-transform: uppercase;
}

.text {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.upload {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

.formLabel {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    color: #C7C7C7;
    text-transform: uppercase;
}

.submitButton {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    color: #0A3977;
    background-color: #C5DCFA;
    text-transform: uppercase;
}