@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.containerWrap {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 100px 30px;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    margin-bottom: 50px;
}