.description {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    padding: 10px 30px;
}

.header {
    font-weight: 700;
}

.text {
    font-weight: 500;
}

.stepText {
    display: none;
}

.selectedStep {
    color: #0A3977;
}

@media screen and (min-width: 600px) {
    .stepText {
      display: block;
    }
}