.description {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    padding: 10px 30px;
}

.header {
    font-weight: bold;
}

.text {
    font-weight: 500;
}

.selectedStep {
    color: #0A3977;
}